.photoOf{
    object-fit: cover;
  transition: transform 0.3s ease;
  max-height: 80vh;

}
@media(min-width:1500px){
  .photoOf{
    max-height: 600px;
}
}
.photoOf:hover {
    transform: scale(1.05); /* Slightly zooms in on hover */
  }
.about{
    font-weight: bolder;
    font-size: 60px;
}
.title{
    font-size: 15px;
    color: rgb(0, 159, 232);
    font-weight: bolder;
}
.aboutme {
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}



.row {
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

.col {
  flex: 1;
  min-width: 300px;
}

.container-fluid {
  background-color: #f8f9fa; /* Light gray background */
  padding: 30px 15px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about {
    font-size: 3rem;
  }

  .title {
    font-size: 1.2rem;
  }
}
